.CodeEditor {
    background-color: rgb(30, 30, 30);
    padding: .25em .5em;
}

.CodeEditor textarea {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    color: inherit;
    resize: none;
    white-space: nowrap;
}

.CodeEditor pre {
    all: initial;
    pointer-events: none;
    visibility: inherit;
}

.CodeEditor textarea,
.CodeEditor pre code {
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    overflow: hidden;
}

.CodeEditor pre code .token.operator {
    background-color: transparent;
}