
.ExamplePane .TabbedPane:first-child>.TabLayout {
    background-color: rgb(38, 38, 38);
    color: White;
}

.ExamplePane .TabbedPane:first-child>.TabLayout>button[tabindex="-1"] {
    background-color: rgb(30, 30, 30);
    color: White;
}
