.ExamplePane .CodeTabbedPane.TabbedPane>.TabLayout {
    background-color: rgb(38, 38, 38);
    color: White;
}

.ExamplePane .CodeTabbedPane.TabbedPane>.TabLayout>button[tabindex="-1"] {
    background-color: rgb(30, 30, 30);
}