html {
    font-size: 20px;
}

.Layout {
    height: 100vh;
}

.MenuBar a {
    padding: 2px 8px;
    text-decoration: none;
    color: black;
}

.NavigationTree.Tree li>a.TreeNode {
    text-decoration: none;
    color: black;
    padding-inline-start: calc(8px + 1rem + 5px);
}

.NavigationTree.Tree .material-icons::after {
    content: "school";
    color: black;
}

.Tutorial {
    padding: 0 8px;
}

.Tutorial>* {
    max-width: 800px;
    text-align: justify;
}

.Tutorial h1 {
    margin: 0
}

.Tutorial pre {
    font-size: 18px;
    text-align: left;
    overflow: hidden;
}