html {
    font-size: 20px;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

.Layout {
    height: 100vh;
}

.NavigationTree.Tree li>.TreeNode {
    padding-inline-start: calc(8px + 1rem + 5px);
}

.NavigationTree.Tree>li>.TreeNode {
    padding-inline-start: calc(8px);
}

.NavigationTree.Tree .material-icons::after {
    content: "school";
    color: black;
}

.Tutorial {
    padding: 8px;
}

.Tutorial h1 {
    font-size: 1.5rem;
    margin: 0;
}

.Tutorial h2 {
    font-size: 1.25rem;
    margin: 0;
}

.Tutorial>* {
    max-width: 800px;
    text-align: justify;
}

.Tutorial pre {
    font-size: 18px;
    text-align: left;
    overflow: hidden;
}

.Hamburger {
    padding-block: 8px;
    padding-inline: 16px;
    user-select: none;
    cursor: pointer;
}

.Hamburger:hover {
    background-color: rgba(128, 128, 128, .25);
}

.Hamburger .material-icons {
    font-size: 40px;
}

.PreviousPage {
    padding-block: 8px;
    padding-inline: 16px;
    user-select: none;
    cursor: pointer;
}

.PreviousPage:hover {
    background-color: rgba(128, 128, 128, .25);
}

.PreviousPage .material-icons {
    font-size: 40px;
}

.NextPage {
    padding-block: 8px;
    padding-inline: 16px;
    user-select: none;
    cursor: pointer;
}

.NextPage:hover {
    background-color: rgba(128, 128, 128, .25);
}

.NextPage .material-icons {
    font-size: 40px;
}
