/**
 * Simpa.css
 * CSS definitions for Single-Page Applications
 *
 * ^ +\*
 *
 * @author Yassuo Toda
 */

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/**
 * BorderLayout
 */

.BorderLayout {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) auto !important;
    grid-template-columns: auto minmax(0, 1fr) auto !important;
}

.BorderLayout>* {
    grid-row: 2 !important;
    grid-column: 2 !important;
}

.BorderLayout>.PageStart {
    grid-row: 1 !important;
    grid-column: 1 / -1 !important;
}

.BorderLayout>.PageEnd {
    grid-row: 3 !important;
    grid-column: 1 / -1 !important;
}

.BorderLayout>.LineStart {
    grid-row: 2 !important;
    grid-column: 1 !important;
}

.BorderLayout>.LineEnd {
    grid-row: 2 !important;
    grid-column: 3 !important;
}

.BorderLayout>.Center {
    grid-row: 2 !important;
    grid-column: 2 !important;
}

.BorderLayout>.PageStart,
.BorderLayout>.PageEnd,
.BorderLayout>.LineStart,
.BorderLayout>.LineEnd,
.BorderLayout>.Center {
    display: grid !important;
}

.BorderLayout>.PageStart>*,
.BorderLayout>.PageEnd>*,
.BorderLayout>.LineStart>*,
.BorderLayout>.LineEnd>*,
.BorderLayout>.Center>* {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

/**
 * BoxLayout
 */

.BoxLayout,
.BoxLayout[data-axis="line-axis"] {
    display: grid !important;
    align-content: stretch !important;
    justify-content: start !important;
    align-items: center !important;
}

.BoxLayout[data-axis="page-axis"] {
    display: grid !important;
    align-content: start !important;
    justify-content: stretch !important;
    justify-items: center !important;
}

.BoxLayout[data-axis="page-axis"][data-alignment-x="start"] {
    justify-items: start !important;
}

.BoxLayout[data-alignment-x="center"],
.BoxLayout[data-axis="line-axis"][data-alignment-x="center"] {
    justify-content: center !important;
}

.BoxLayout[data-alignment-x="end"],
.BoxLayout[data-axis="line-axis"][data-alignment-x="end"] {
    justify-content: end !important;
}

.BoxLayout[data-axis="page-axis"][data-alignment-x="end"] {
    justify-items: end !important;
}

.BoxLayout[data-axis="page-axis"][data-alignment-x="stretch"] {
    justify-items: stretch !important;
}

.BoxLayout[data-alignment-y="start"],
.BoxLayout[data-axis="line-axis"][data-alignment-y="start"] {
    align-items: start !important;
}

.BoxLayout[data-axis="page-axis"][data-alignment-y="center"] {
    align-content: center !important;
}

.BoxLayout[data-alignment-y="end"],
.BoxLayout[data-axis="line-axis"][data-alignment-y="end"] {
    align-items: end !important;
}

.BoxLayout[data-axis="page-axis"][data-alignment-y="end"] {
    align-content: end !important;
}

.BoxLayout[data-alignment-y="stretch"],
.BoxLayout[data-axis="line-axis"][data-alignment-y="stretch"] {
    align-items: stretch !important;
}

.BoxLayout>*,
.BoxLayout[data-axis="line-axis"]>* {
    grid-row: 1 !important;
    grid-column: unset !important;
}

.BoxLayout[data-axis="page-axis"]>* {
    grid-row: unset !important;
    grid-column: 1 !important;
}

/**
 * CenterLayout
 */

.CenterLayout {
    display: grid !important;
    align-items: center !important;
    justify-items: center !important;
}

.CenterLayout>* {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

/**
 * CardLayout
 */

.CardLayout {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) !important;
}

.CardLayout>* {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

/**
 * FlowLayout
 */

.FlowLayout {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: start !important;
    align-items: center;
}

.FlowLayout,
.FlowLayout[data-alignment="center"] {
    justify-content: center !important;
}

.FlowLayout[data-alignment="leading"] {
    justify-content: start !important;
}

.FlowLayout[data-alignment="trailing"] {
    justify-content: end !important;
}

/**
 * GridBagConstraints
 */

.GridBagConstraints {
    display: grid !important;
    align-items: center !important;
    justify-items: center !important;
}

.GridBagConstraints[data-anchor="page-start"] {
    align-items: start !important;
}

.GridBagConstraints[data-anchor="page-end"] {
    align-items: end !important;
}

.GridBagConstraints[data-anchor="line-start"] {
    justify-items: start !important;
}

.GridBagConstraints[data-anchor="line-end"] {
    justify-items: end !important;
}

.GridBagConstraints[data-anchor="first-line-start"] {
    align-items: start !important;
    justify-items: start !important;
}

.GridBagConstraints[data-anchor="first-line-end"] {
    align-items: start !important;
    justify-items: end !important;
}

.GridBagConstraints[data-anchor="last-line-start"] {
    align-items: end !important;
    justify-items: start !important;
}

.GridBagConstraints[data-anchor="last-line-end"] {
    align-items: end !important;
    justify-items: end !important;
}

.GridBagConstraints[data-fill="horizontal"] {
    justify-items: stretch !important;
}

.GridBagConstraints[data-fill="vertical"] {
    align-items: stretch !important;
}

.GridBagConstraints[data-fill="both"] {
    align-items: stretch !important;
    justify-items: stretch !important;
}

.GridBagConstraints>* {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

/**
 * Dialog
 */

.Dialog {
    position: fixed !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: whitesmoke;
    align-self: center;
    justify-self: center;
}

.Dialog>:first-child {
    padding: 5px;
    gap: 5px;
    background-color: LightGray;
    user-select: none;
}

.Dialog>:first-child>.material-icons.close::after {
    content: "close";
    color: gray;
}

.Dialog>:first-child>.material-icons.close:hover::after {
    color: red;
}

.Dialog>:last-child {
    padding: 5px;
    gap: 5px;
}

.ModalLayer {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.25);
    display: grid;
    align-content: center;
    justify-content: center;
}

/**
 * Drag layer
 */

.DragLayer {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 400;
}

/**
 * LayeredPane
 */

.LayeredPane {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) !important;
}

.LayeredPane>* {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

/**
 * Menu bar
 */

.MenuBar {
    user-select: none !important;
}

.MenuBar,
.MenuBar ul {
    list-style-type: none !important;
    white-space: nowrap !important;
    margin: 0;
    padding: 0;
}

.MenuBar li {
    position: relative !important;
}

.MenuBar ul {
    position: absolute !important;
    display: none !important;
    z-index: 300;
}

.MenuBar[data-open] li[data-selected]>ul {
    display: block !important;
}

.MenuBar li>* {
    padding-inline: .5em;
}

.MenuBar li>ul {
    inset-inline-start: calc(100% - .5em);
    inset-block-start: -.5em;
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.25);
    background-color: whitesmoke;
    padding-block: .5em;
    padding-inline: 0;
}

.MenuBar>li>ul {
    inset-inline-start: 0;
    inset-block-start: 100%;
}

.MenuBar li>:not(ul):not(hr) {
    cursor: pointer;
}

.MenuBar li:not(hr):hover,
.MenuBar:not(:hover) li[data-selected] {
    background-color: rgba(128, 128, 128, .25);
}

/**
 * MenuBar layout
 */
.MenuBar {
    display: grid !important;
    align-content: stretch !important;
    justify-content: start !important;
    align-items: stretch !important;
}

.MenuBar>* {
    grid-row: 1 !important;
    display: grid;
    align-items: center;
}

/**
 * MenuItem layout
 */

.MenuItem,
.MenuBar ul .Menu {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: .5em;
    align-items: center;
}

.MenuItem>:first-child,
.MenuItem>:last-child,
.MenuBar ul .Menu>:first-child,
.MenuBar ul .Menu>:last-child {
    width: 1em;
    margin: 0;
    font-size: 1em;
}

/**
 * MenuItemShortcut layout
 */
.MenuItemShortcut {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2em;
}

.MenuItemShortcut>:last-child {
    font-family: monospace;
}

/**
 * ScrollPane
 */

.ScrollPane {
    overflow: auto;
}

.ScrollPane[data-vertical-policy="scrollbar-as-needed"] {
    overflow-y: auto;
}

.ScrollPane[data-vertical-policy="scrollbar-never"] {
    overflow-y: hidden;
}

.ScrollPane[data-vertical-policy="scrollbar-always"] {
    overflow-y: scroll;
}

.ScrollPane[data-horizontal-policy="scrollbar-as-needed"] {
    overflow-x: auto;
}

.ScrollPane[data-horizontal-policy="scrollbar-never"] {
    overflow-x: hidden;
}

.ScrollPane[data-horizontal-policy="scrollbar-always"] {
    overflow-x: scroll;
}

@supports (overflow: overlay) {

    .ScrollPane[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"]) {
        overflow: overlay;
    }

    .ScrollPane[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])[data-vertical-policy="scrollbar-as-needed"],
    .ScrollPane[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])[data-vertical-policy="scrollbar-always"] {
        overflow-y: overlay;
    }

    .ScrollPane[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])[data-horizontal-policy="scrollbar-as-needed"],
    .ScrollPane[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])[data-horizontal-policy="scrollbar-always"] {
        overflow-x: overlay;
    }

    .ScrollPane[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    .ScrollPane[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"]):hover::-webkit-scrollbar-thumb {
        background-color: rgba(128, 128, 128, .25);
    }

    .ScrollPane[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

/**
 * ScrollTable
 */

.ScrollTable {
    display: grid !important;
    overflow: auto;
    overscroll-behavior: none;
}

.ScrollTable[data-vertical-policy="scrollbar-as-needed"] {
    overflow-y: auto;
}

.ScrollTable[data-vertical-policy="scrollbar-never"] {
    overflow-y: hidden;
}

.ScrollTable[data-vertical-policy="scrollbar-always"] {
    overflow-y: scroll;
}

.ScrollTable[data-horizontal-policy="scrollbar-as-needed"] {
    overflow-x: auto;
}

.ScrollTable[data-horizontal-policy="scrollbar-never"] {
    overflow-x: hidden;
}

.ScrollTable[data-horizontal-policy="scrollbar-always"] {
    overflow-x: scroll;
}

@supports (overflow: overlay) {

    .ScrollTable[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"]) {
        overflow: overlay;
    }

    .ScrollTable[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])[data-vertical-policy="scrollbar-as-needed"],
    .ScrollTable[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])[data-vertical-policy="scrollbar-always"] {
        overflow-y: overlay;
    }

    .ScrollTable[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])[data-horizontal-policy="scrollbar-as-needed"],
    .ScrollTable[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])[data-horizontal-policy="scrollbar-always"] {
        overflow-x: overlay;
    }

    .ScrollTable[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    .ScrollTable[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"]):hover::-webkit-scrollbar-thumb {
        background-color: rgba(128, 128, 128, .25);
    }

    .ScrollTable[data-scrollbar-overlay]:not([data-scrollbar-overlay="false"])::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.ScrollTable>:last-child {
    grid-row: 1 !important;
    grid-column: 2 !important;
}

.ScrollTable table {
    border-spacing: 0;
/*
 *  white-space: nowrap;
 */
}

.ScrollTable thead {
    position: sticky !important;
    inset-block-start: 0 !important;
    background-color: WhiteSmoke;
    z-index: 1;
}

.ScrollTable:not([data-show-grid="false"]) {
    border: 1px solid gray;
}

.ScrollTable:not([data-show-grid="false"]) th,
.ScrollTable:not([data-show-grid="false"]) tr:not(:last-child)>td {
    border-block-end: 1px solid gray;
}

.ScrollTable:not([data-show-grid="false"]) th:not(:last-child),
.ScrollTable:not([data-show-grid="false"]) td:not(:last-child) {
    border-inline-end: 1px solid gray;
}

.ScrollTable[data-row-header]:not([data-row-header="false"]) th:first-child,
.ScrollTable[data-row-header]:not([data-row-header="false"]) td:first-child {
    position: sticky !important;
    inset-inline-start: 0 !important;
    background-color: WhiteSmoke;
}

/**
 * Row header table
 *
 * .ScrollTable>:not(:last-child) {
 *     grid-row: 1 !important;
 *     grid-column: 1 !important;
 *     z-index: 2;
 * }
 * 
 * .ScrollTable>:not(:last-child) {
 *     position: sticky !important;
 *     inset-inline-start: 0 !important;
 * }
 * 
 * .ScrollTable>:not(:last-child) tbody {
 *     background-color: WhiteSmoke;
 * }
 * 
 * .ScrollTable:not([data-show-grid="false"])>:not(:last-child)>thead>tr>th,
 * .ScrollTable:not([data-show-grid="false"])>:not(:last-child)>tbody>tr>td {
 *     border-inline-end: 1px solid gray;
 * }
 */

/**
 * SplitPane
 */

.SplitPane,
.SplitPane[data-orientation="horizontal-split"],
.SplitPane[data-orientation="horizontal-split"][data-divider-anchor="line-start"] {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: auto auto minmax(0, 1fr) !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.SplitPane[data-orientation="horizontal-split"][data-divider-anchor="line-end"] {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) auto auto !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.SplitPane[data-orientation="vertical-split"],
.SplitPane[data-orientation="vertical-split"][data-divider-anchor="page-start"] {
    display: grid !important;
    grid-template-columns: minmax(0, 1fr) !important;
    grid-template-rows: auto auto minmax(0, 1fr) !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.SplitPane[data-orientation="vertical-split"][data-divider-anchor="page-end"] {
    display: grid !important;
    grid-template-columns: minmax(0, 1fr) !important;
    grid-template-rows: minmax(0, 1fr) auto auto !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.SplitPane>* {
    padding: 0 !important;
}

.SplitPane>:nth-child(2),
.SplitPane[data-orientation="horizontal-split"]>:nth-child(2) {
    cursor: ew-resize;
}

.SplitPane[data-orientation="vertical-split"]>:nth-child(2) {
    cursor: ns-resize;
}

/**
 * Tabbed pane
 */

.TabbedPane,
.TabbedPane[data-tab-layout-policy="wrap-tab-layout"],
.TabbedPane[data-tab-layout-policy="scroll-tab-layout"],
.TabbedPane[data-tab-placement="page-start"],
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="wrap-tab-layout"],
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="scroll-tab-layout"] {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) auto !important;
}

.TabbedPane>.TabContainer,
.TabbedPane[data-tab-layout-policy="wrap-tab-layout"]>.TabContainer,
.TabbedPane[data-tab-layout-policy="scroll-tab-layout"]>.TabContainer,
.TabbedPane[data-tab-placement="page-start"]>.TabContainer,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

.TabbedPane>.ButtonContainer,
.TabbedPane[data-tab-layout-policy="wrap-tab-layout"]>.ButtonContainer,
.TabbedPane[data-tab-layout-policy="scroll-tab-layout"]>.ButtonContainer,
.TabbedPane[data-tab-placement="page-start"]>.ButtonContainer,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="wrap-tab-layout"]>.ButtonContainer,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="scroll-tab-layout"]>.ButtonContainer {
    grid-row: 1 !important;
    grid-column: 2 !important;
}

.TabbedPane>.CardContainer,
.TabbedPane[data-tab-layout-policy="wrap-tab-layout"]>.CardContainer,
.TabbedPane[data-tab-layout-policy="scroll-tab-layout"]>.CardContainer,
.TabbedPane[data-tab-placement="page-start"]>.CardContainer,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="wrap-tab-layout"]>.CardContainer,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="scroll-tab-layout"]>.CardContainer {
    grid-row: 2 !important;
    grid-column: 1 / -1 !important;
}

.TabbedPane[data-tab-placement="page-end"],
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="wrap-tab-layout"],
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="scroll-tab-layout"] {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) auto !important;
    grid-template-columns: minmax(0, 1fr) auto !important;
}

.TabbedPane[data-tab-placement="page-end"]>.TabContainer,
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer,
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer {
    grid-row: 2 !important;
    grid-column: 1 !important;
}

.TabbedPane[data-tab-placement="page-end"]>.ButtonContainer,
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="wrap-tab-layout"]>.ButtonContainer,
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="scroll-tab-layout"]>.ButtonContainer {
    grid-row: 2 !important;
    grid-column: 2 !important;
}

.TabbedPane[data-tab-placement="page-end"]>.CardContainer,
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="wrap-tab-layout"]>.CardContainer,
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="scroll-tab-layout"]>.CardContainer {
    grid-row: 1 !important;
    grid-column: 1 / -1 !important;
}

.TabbedPane[data-tab-placement="line-start"],
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="wrap-tab-layout"],
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="scroll-tab-layout"] {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) !important;
    grid-template-columns: auto minmax(0, 1fr) !important;
}

.TabbedPane[data-tab-placement="line-start"]>.ButtonContainer,
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="wrap-tab-layout"]>.ButtonContainer,
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="scroll-tab-layout"]>.ButtonContainer {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

.TabbedPane[data-tab-placement="line-start"]>.TabContainer,
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer,
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer {
    grid-row: 2 !important;
    grid-column: 1 !important;
}

.TabbedPane[data-tab-placement="line-start"]>.CardContainer,
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="wrap-tab-layout"]>.CardContainer,
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="scroll-tab-layout"]>.CardContainer {
    grid-row: 1 / -1 !important;
    grid-column: 2 !important;
}

.TabbedPane[data-tab-placement="line-end"],
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="wrap-tab-layout"],
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="scroll-tab-layout"] {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) auto !important;
}

.TabbedPane[data-tab-placement="line-end"]>.ButtonContainer,
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="wrap-tab-layout"]>.ButtonContainer,
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="scroll-tab-layout"]>.ButtonContainer {
    grid-row: 1 !important;
    grid-column: 2 !important;
}

.TabbedPane[data-tab-placement="line-end"]>.TabContainer,
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer,
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer {
    grid-row: 2 !important;
    grid-column: 2 !important;
}

.TabbedPane[data-tab-placement="line-end"]>.CardContainer,
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="wrap-tab-layout"]>.CardContainer,
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="scroll-tab-layout"]>.CardContainer {
    grid-row: 1 / -1 !important;
    grid-column: 1 !important;
}

.TabContainer {
    gap: 1px;
    background-color: whitesmoke;
}

.TabbedPane>.TabContainer,
.TabbedPane[data-tab-layout-policy="wrap-tab-layout"]>.TabContainer,
.TabbedPane[data-tab-placement="page-start"]>.TabContainer,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-content: end !important;
    justify-content: start !important;
    align-items: end !important;
}

.TabbedPane[data-tab-placement="page-end"]>.TabContainer,
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap-reverse !important;
    align-content: start !important;
    justify-content: start !important;
    align-items: start !important;
}

.TabbedPane[data-tab-placement="line-start"]>.TabContainer,
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-content: start !important;
    justify-content: end !important;
    justify-items: end !important;
}

.TabbedPane[data-tab-placement="line-end"]>.TabContainer,
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap-reverse !important;
    align-content: start !important;
    justify-content: start !important;
    justify-items: start !important;
}

.TabbedPane[data-tab-layout-policy="scroll-tab-layout"]>.TabContainer,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer {
    display: grid !important;
    justify-content: start !important;
    align-items: end !important;
}

.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer {
    display: grid !important;
    justify-content: start !important;
    align-items: start !important;
}

.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer {
    display: grid !important;
    align-content: start !important;
    justify-items: end !important;
}

.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer {
    display: grid !important;
    align-content: start !important;
    justify-items: start !important;
}

.TabComponent {
    user-select: none !important;
    cursor: pointer;
    background-color: rgba(128, 128, 128, .25);
}

.TabComponent[data-selected] {
    background-color: white;
}

.TabbedPane>.TabContainer>.TabComponent,
.TabbedPane[data-tab-layout-policy="wrap-tab-layout"]>.TabContainer>.TabComponent,
.TabbedPane[data-tab-placement="page-start"]>.TabContainer>.TabComponent,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer>.TabComponent,
.TabbedPane[data-tab-placement="page-end"]>.TabContainer>.TabComponent,
.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer>.TabComponent,
.TabbedPane[data-tab-placement="line-start"]>.TabContainer>.TabComponent,
.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer>.TabComponent,
.TabbedPane[data-tab-placement="line-end"]>.TabContainer>.TabComponent,
.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="wrap-tab-layout"]>.TabContainer>.TabComponent {
    flex-shrink: 0 !important;
}

.TabbedPane[data-tab-layout-policy="scroll-tab-layout"]>.TabContainer>.TabComponent,
.TabbedPane[data-tab-placement="page-start"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer>.TabComponent {
    grid-row: 1 !important;
    grid-column: auto !important;
}

.TabbedPane[data-tab-placement="page-end"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer>.TabComponent {
    grid-row: 1 !important;
    grid-column: auto !important;
}

.TabbedPane[data-tab-placement="line-start"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer>.TabComponent {
    grid-row: auto !important;
    grid-column: 1 !important;
}

.TabbedPane[data-tab-placement="line-end"][data-tab-layout-policy="scroll-tab-layout"]>.TabContainer>.TabComponent {
    grid-row: auto !important;
    grid-column: 1 !important;
}

.ButtonContainer button {
    border: none;
    background: none;
}

.CardContainer {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.CardContainer>* {
    grid-row: 1 !important;
    grid-column: 1 !important;
    visibility: hidden;
}

/**
 * Tree
 */

.Tree {
    user-select: none;
}

.Tree,
.Tree ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.Tree ul {
    display: none !important;
}

.Tree li[data-folder="open"]>ul {
    display: block !important;
}

.Tree .TreeNode {
    display: grid !important;
    justify-content: start !important;
    align-items: center;
    gap: 5px;
    padding-inline: 8px;
}

.Tree .TreeNode>* {
    grid-row: 1 !important;
}

.Tree li>:not(ul):hover {
    background-color: rgba(128, 128, 128, .25);
}