.TutorialPane h1 {
    font-size: 1.5rem;
    margin: 0;
}

.TutorialPane h2 {
    font-size: 1.25rem;
    margin: 0;
}

.TutorialPane pre {
    overflow: hidden !important;
    font-size: 18px;
    text-align: left;
}
